PORT=3000
SUPABASE_URL=https://lwgiwplscghzhhjgpqri.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx3Z2l3cGxzY2doemhoamdwcXJpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDQ0MTE0NSwiZXhwIjoyMTAwMDE3MTQ1fQ.dniVECGCQvqAKjKGAd0jthFk7HPZ7NAgihV28PwAZ98
